.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-link {
  background-color: #61dafb;
  color: white;
}

body{
  background-color: cadetblue;
}
.input-box{
  display: flex;
  justify-content: center;
  align-items: center;
}
.input-box > input{
  width: 50px;
  height: 50px;
  border: none;
  font-size: 20px;
  outline: none;
  margin: 20px;
  text-align: center;
}
.timer-box{
  font-size: 100px;
}
.timer-button{
  height: 40px;
  width: 100px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
}
.action-button{
  gap: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
